/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Tamaños de pantallas */
@import url('monitor.css') screen and (min-width:1200px);
@import url('note.css') screen and (min-width:1024px) and (max-width:1199px);
@import url('tablet.css') screen and (min-width:768px) and (max-width:1023px);
@import url('movil.css') screen and (min-width:320px) and (max-width:767px);

/* General */
*{
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #080808;
  font-family: Bebas Neue;
  color: white;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

#drop-menu li a {
  padding: 5px;
}

#drop-menu li a:hover{
  background-color: white;
  color: black;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.btn button{
  border: none;
  background-color: #222222;
  padding: 20px 0;
}

.btn button:hover {
  background-color: white;
}

.btn button a{
  color: white;
  font-family: Bebas Neue;
  font-size: 30px;
  width: 100%;
  padding: 20px 60px;

}

#parrafo {
  font-family: Poppins;
  font-size: 19px;
}

.btn button a:hover{
  color: black;
}

/* Titulos */

.titulo {
  font-size: 64px;
  text-align: center;
  margin-bottom: 20px;
}

.subtitulo {
  font-size: 36px;
}

.subseccion {
  font-size: 24px;
}

/* Licencia - Formulario */
fieldset, input, select, option{
  border: none;
}

input, select {
  background-color: #222222;
  color: white;
}

legend {
  font-size: 30px;
  padding: 20px 0;
}

label {
  font-size: 25px;
  padding-top: 20px;
}


