/* Header */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header li a {
  font-size: 1.2em;
  padding: .5rem 1rem;
  margin-inline: .5rem;
}
.header li a:hover {
  background-color: rgba(225, 255, 255, .1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.hamburguesa {
  display: none;
}

/* Iframe */
.iframe-back{
  position: absolute;
  height: 100vh;
  width: 100%;
}
#video {
  min-height: 100vh;
  width: 100%;
  z-index: -1;
  position: sticky;
  top: 0;
  left: 0;
}

/* Inicio */
#inicio {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}
#inicio figure {
  background-color: blanchedalmond;
  height: 500px;
  max-width: 300px;
}
#inicio figure img {
  width: 100%;
}

#inicio article {
  font-size: 25px;
  width: 50%;
}

/* Temporadas */
.temp_box {
  max-width: min-content;
  align-items:flex-end;
}

/* Autos */
.carro {
  max-width: min-content;
}
.carro figure {
  width: 400px;
}

/* Formulario */
#form{
  width: 90%;
  margin: auto;
}
.btn-submit input{
  width: 20%;
}