/* Base */
header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 0 60px;
}

#drop {
  display: flex;
}

#drop-menu {
  display: flex;
  align-items: center; 
}

#drop-menu li {
  margin-left: 35px;
  font-size: 20px;
}

footer {
  margin: 20px;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100%;
}

footer article p {
  display: inline;
  justify-content: space-around;
}

button {
  display: none;
}

/* Inicio */
#inicio {
  display: flex;
  justify-content: space-around;
}

#inicio figure img {
  height: 950px;
  left: 0;
}

#inicio article {
  font-size: 24px;
  width: 40%;
}

/* Iframe */
#video-caja {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#video {
  width: 100%;
  height: 100%;
}

#background {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Temporadas */
#temp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tarjeta-temp {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.tarjeta-temp figure img {
  height: 325px;
  width: 225px;
}

.tarjeta-temp div {
  padding: 0 10px ;
}

.tarjeta-temp div ul {
  padding-top: 20px;
}

.tarjeta-temp div ul li{
  padding-bottom: 10px;
  font-size: 20px;
}

.info {
  position: relative;
}

.info-capitulos {
  display: none;
  position: absolute;
  background-color: #080808;
  top: 0;
  left: 4%;
  width: 100%;
  z-index: 3;
}

.info:hover .info-capitulos {
  display: block;
}

/* Personajes */

#personajes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#personajes li {
  margin: 4px;
  text-align: center;
} 

/* Coches */
.auto-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.auto-container article{
  width: 360px;
  margin-left: 5%;
}

.auto-container figure img{
  height: 380px;
}

.auto-list {
  padding-top: 20px;
}

.auto-list li{
  font-size: 30px;
  padding-bottom: 20px;
}

/* Formulario */
#licencia {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.caja-form {
  display: flex;
  flex-direction: column;
}

#nombre, #domicilio, #fechaNacimiento, #marca, #modelo, #anio, #sexo, #nlicencia{
  height: 50px;
}

.radio {
  display: inline-block;
  margin-right: 2%;
  font-size: 30px;
}

.fila {
  display:flex;
}

#btn-submit {
  margin: 30px 0;
}

#btn-submit input{
  border: none;
  padding: 20px 40px;
  color: white;
  font-family: Bebas Neue;
  font-size: 30px;
}

#btn-submit input:hover{
  color: black;
  background-color: white;
}

.filaA {
  width: 50%;
}

.filaB {
  width: 30%;
}

.filaC {
  width: 20%;
}
/* Licencia - Tarjeta */
#tarjeta {
  background-color: white;
  color: black;
  font-family: poppins;
  width: 582px;
  height: 336px;
  margin: auto;
  border-radius: 17px;
  position: relative;
}
#tarjeta ul{
  position: absolute;
  bottom: 30%;
  left: 7%;
}
#img-carnet {
  position: absolute;
  right: 2%;
  top: 25%;
}

#firma-carnet {
  position: absolute;
  right: 45%;
  bottom: 10%;
}

table {
  display: flex;
  justify-content: center;
  top: 5%;
  left: 5%;
  position: absolute;
}
tr {
  display: flex;
  flex-direction: column;
}

td, th {
  padding: 7px 0;
  text-align: initial;
}

td {
  width: 225px;
  padding-left: 5px;
}

#clase {
  text-align: center;
  font-size: 30px;
}
